$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$orange: #B44010;
$darkOrange: #922010;


@font-face {
    font-family: 'LCD';
    src: url('fonts/advanced_pixel_lcd-7-webfont.eot');
    src: url('fonts/advanced_pixel_lcd-7-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/advanced_pixel_lcd-7-webfont.woff2') format('woff2'),
         url('fonts/advanced_pixel_lcd-7-webfont.woff') format('woff'),
         url('fonts/advanced_pixel_lcd-7-webfont.ttf') format('truetype'),
         url('fonts/advanced_pixel_lcd-7-webfont.svg#advanced_pixel_lcd-7regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
//@include font-face("LCD", font-files("fonts/advanced_pixel_lcd-7-webfont.ttf", "fonts/advanced_pixel_lcd-7-webfont.otf", "fonts/advanced_pixel_lcd-7-webfont.woff", "fonts/advanced_pixel_lcd-7-webfont.woff2", "fonts/advanced_pixel_lcd-7-webfont.eot"));

@mixin box-emboss($outerOpacity, $innerOpacity) {
  box-shadow:
    rgba(white, $outerOpacity) 1px 1.5px 1px, 
    rgba(black, $innerOpacity) 1px 1.5px 1px inset;
}


#calculator{
  background:#ccc;
  border-radius:10px;
  display:block;
  margin:30px auto 30px auto;
  position:relative;
  padding:2%;
  width:auto;
  text-align:center;
  @include box-shadow(#444 2px 2px 2px);

}
#readout{
  text-align:right;
  font-size: 2em;
  width:95%;
  background: white;
  color:#444;
  display:block;
  margin:1% auto;
  position:relative;
  padding:0 3%;
  @include box-emboss(0.3, 0.6);
}

.keyPad{
  width:21.5%;
  font-size: 1.5em;
  margin:1%;
  font-weight:bold;
  /*@include letterpress(.5);*/
}




.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}





/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background:teal;
  color:white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  /*border-top: 1px solid #e5e5e5;*/
  text-align: right;
}

.container-narrow > hr {
  margin: 30px 0;
}


/** Retro Theme */
body.retro {
  background:#FEC34D;
  color:black;
  font-family: 'Andale Mono', AndaleMono, monospace;
}

.retro #calculator{
  background:#222;
  @include box-shadow(#111 2px 2px 2px);
}

.retro #readout{
  background: #ddd;
  font-family: 'LCD';
  padding:2%;
  font-size:1.4em;
  width:92%;
}
.retro .keyPad{
  width:20%;
  font-size: 1.5em;
  font-weight:100;
  margin:1%;
  @include button-variant(white, $orange, $darkOrange);
}
.retro .keyPad:hover{
  background:#FF2B00;
}
.retro .keyPad.doubleKey{
  width:44%;
}

.keyPad.doubleKey{
  width:46%;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  body{
    font-size: 2.5vw;
  }
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
