$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$orange: #E15E32;
$lightOrange: #f37f54;


@font-face {
    font-family: 'LCD';
    src: url('fonts/advanced_pixel_lcd-7-webfont.eot');
    src: url('fonts/advanced_pixel_lcd-7-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/advanced_pixel_lcd-7-webfont.woff2') format('woff2'),
         url('fonts/advanced_pixel_lcd-7-webfont.woff') format('woff'),
         url('fonts/advanced_pixel_lcd-7-webfont.ttf') format('truetype'),
         url('fonts/advanced_pixel_lcd-7-webfont.svg#advanced_pixel_lcd-7regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
//@include font-face("LCD", font-files("fonts/advanced_pixel_lcd-7-webfont.ttf", "fonts/advanced_pixel_lcd-7-webfont.otf", "fonts/advanced_pixel_lcd-7-webfont.woff", "fonts/advanced_pixel_lcd-7-webfont.woff2", "fonts/advanced_pixel_lcd-7-webfont.eot"));

@mixin box-emboss($outerOpacity, $innerOpacity) {
  box-shadow:
    rgba(white, $outerOpacity) 1px 1.5px 1px, 
    rgba(black, $innerOpacity) 1px 1.5px 1px inset;
}


#calculator{
  background:#dedede;
  border-radius:15px;
  display:block;
  margin:20px auto 20px auto;
  position:relative;
  padding:4% 2%;

  text-align:center;
  @include box-shadow(#444 2px 2px 2px);

}

#readout{
  text-align:right;
  overflow:hidden;
  font-size: 2em;
  width:95%;
  min-height:20px;
  background: white;
  color:#444;
  display:block;
  margin:1% auto 2% auto;
  position:relative;
  padding:0 3%;
  @include box-emboss(0.3, 0.6);
}

.keyPad{
  width:21.5%;
  font-size: 1.5em;
  margin:1.5% 1%;
  font-weight:bold;
  border-radius:30px;
  @include transition-property(border-radius);
  @include transition-duration(.5s);
  @include transition-timing-function(bounce-in);
}

/*.btn.keyPad:hover{
  @include box-shadow(grey 0px 0px 0px);
}*/

.btn.keyPad:active, .btn.keyPad:focus{
  outline:0;
}




.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}





/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background:teal;
  color:white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 10px;
  }
}
.theme-nav .btn{
  font-weight:300;
  font-size: Helvetica;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  /*border-top: 1px solid #e5e5e5;*/
  text-align: right;
}

.container-narrow > hr {
  margin: 30px 0;
}


/** Retro Theme */
body.retro {
  background:#FEC34D;
  color:black;
  font-family: 'Andale Mono', AndaleMono, monospace;
}

.retro #calculator{
  background:#222;
  @include box-shadow(#111 2px 2px 2px);
}

.retro #readout{
  background: #999;
  color:#333;
  font-family: 'LCD';
  padding:2%;
  font-size:1.4em;
  width:92%;
}
.retro .keyPad{
  width:20%;
  font-size: 1.7em;
  font-weight:100;
  margin:1.5% 1%;
  border-radius:10px;
  @include button-variant(white, $orange, $lightOrange);
  @include box-shadow(#902900 1px 2px 0px);
}
.btn-retro{
  @include button-variant(white, $orange, $lightOrange);
}
.retro .keyPad:hover{
  background:#FF2B00;
}
.retro .keyPad.doubleKey{
  width:44%;
}

 /* Metal ------------------------- */
body.metal{
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-weight:100;
}
.metal #calculator{
  border-radius:30px;
 
 background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}
.metal .keyPad{
 @include box-shadow(#024859 1px 2px 0px);
}
.metal .keyPad, .btn-metal{
  @include button-variant(white, #157A8C, #21AD94);
  font-weight:100;
}

/** Modern Theme */
body.modern {
  background:#F1A57B;
  color:#000;
}

.modern #calculator{
  background:#ede574;
  border-radius:50px;
  @include box-shadow(#111 2px 2px 2px);
}

.modern #readout{
  background: #A8A39F;
  color:#333;
  font-family: 'LCD';
  padding:2%;
  font-size:1.4em;
  width:92%;
}
.modern .keyPad{
  width:20%;
  font-size: 1.7em;
  font-weight:100;
  margin:1.5% 1%;
  border-radius:50px;
  @include box-shadow(#bb1920 1px 2px 0px);
  @include button-variant(white, #ff4e50, #ff6f72);
}
.modern .keyPad:hover{
  background:#dd2c30;
}
.modern .keyPad.doubleKey{
  width:44%;
}

.btn-modern{
  @include button-variant(white, #ff4e50, #ff6f72);
}


/** End Themes  */


.keyPad.doubleKey{
  width:46%;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  body{
    font-size: 2.5vw;
  }
  .container {
    max-width: 730px;
  }
#readout{
  min-height:42px;
}
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
